.theme--dark
  a, h1, h2, h3, h4, h5, h6, p
    color: #ccc

  code
    background-color: #181818;
    color: #c50054;

pre
  background: #f4f4f4;
  border: none;
  border-left: 3px solid #f36d33;
  color: #333;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  code
    background-color: initial;
    box-shadow: initial;
    color: #333;
    font-weight: normal;
    font-size: 11px;

.theme--dark
  pre
    background-color: #666
    color: #eee
    code
      background-color: #666
      color: #eee

.application--is-rtl
  pre, code
    direction: ltr
